{% block viewport_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
<!-- Mobile properties -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<meta property="og:title" content="{{ site.name }} {% block og_title_after %}{% endblock %}">=
<meta name="description" content="{% block description %}{% endblock %}">
<meta property="og:description" content="{% block og_description %}{% endblock %}">

{% block extra_meta %}{% endblock extra_meta %}
